body {
    background-color: #FCD315;
    display: flex;
}

#container {
    margin-right: 30px;
}

#clavier {
    background-color: #2B80D4;
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

#clavier div {
    background-color: white;
    padding: 1%;
    border: solid black 1px;
}

#SecretWord {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

#SecretWord div {
    background-color: #1EE193;
    padding: 1%;
    border: solid black 1px;
    padding: 5%;
    text-align: center;
    width: 20px;
    height: 20px;
}

img {
    width: 300px;
}